#myStyle.myHeader{
	
	font-size: 24px;
	padding-bottom: 5px;
}

#myStyle.mySubHead{

	font-size: 18px;
	padding: 2px 25px;
}

#myStyle.navbarClock{

  margin-left: auto;
  margin-right: auto;
}

#myStyle.myFont{

	font-size: 14px;
}

@media(min-width: 768px){

  .navbarCenter{
  
    margin-left: auto;
	margin-right: auto;
  }
}

/* Panel border color */
.panel-color {

    border-color: #501214;
    border-width: 1.5px;
}

.panel-color .panel-heading {

    border-color: #501214;
    color: #501214;
    background-color: #FFFFFF;
	padding-left: 25px;
}

.panel-color a {

    color: #501214;
}

.panel-color a:hover {

    color: #836C31;
}

.panel-footer {

    background-color: #CCCCCC;
}

.bold{

	font-weight: bold;
}
